*.png
*.bak
*.sof
*.rpt
*.summary
*.done
*.jdi
*.qdf
*.cdf
*.pin
*.pof
*.qws
*.log
*.chg
greybox_tmp

*.html
*.bsf
*.ptf.*
*.elf
*.map
*.objdump
obj
*.swp
*.a
*.cmp
*.sopcinfo

*.cmd
*.mod.c
*.o
*.ko
modules.order
Module.symvers
.tmp_versions

*.ver
*.smsg

/fpga/db
/fpga/simulation
/fpga/incremental_db
/fpga/c5_pin_model_dump.txt
/fpga/output_files
/fpga/hc_output
/fpga/.qsys_edit
/fpga/hps_isw_handoff
/fpga/hps_sdram_p0_all_pins.txt
/fpga/hps_sdram_p0_summary.csv
/fpga/soc_system/synthesis

/software/userspace/readstate
